<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio/anexos"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      REPORTE DE APLICACIÓN DE PROTOCOLO DE REVISION DE SEGURIDAD DE PREARRANQUE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pdf()">
      <ion-icon name="print-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid fixed>
    <ion-card>
      <ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label>Fecha de Elaboración</ion-label>
            <ion-datetime
            display-format="DD.MM.YYYY"
            name="fecha1"
            [(ngModel)]="datos.fecha1"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha aplicación de la RSPA</ion-label>
            <ion-datetime
            display-format="DD.MM.YYYY"
            name="fecha2"
            [(ngModel)]="datos.fecha2"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Plataforma</ion-label>
            <ion-input
            type="text"
            name="plataforma"
            [(ngModel)]="datos.plataforma"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Equipo</ion-label>
            <ion-input
            type="text"
            name="equipo"
            [(ngModel)]="datos.equipo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Pozo / Localización</ion-label>
            <ion-input
            type="text"
            name="pozoLoc"
            [(ngModel)]="datos.pozoLoc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>¿Se autorizó el inicio de operaciones?</ion-label>
            <ion-button (click)="auth()" expand="block" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Resumen de hallazgos derivados de la Revisión de Seguridad de Pre-Arranque</ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Observaciones</ion-label>
          <ion-textarea name="observaciones" [(ngModel)]="datos.observaciones"></ion-textarea>
        </ion-item>
        <ion-button (click)="upload()" type="submit" expand="block" color="success">
          Subir datos
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
