<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio/anexos"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="automaticClose = !automaticClose">
        <ion-icon slot="icon-only" name="close" *ngIf="automaticClose"></ion-icon>
        <ion-icon slot="icon-only" name="resize" *ngIf="!automaticClose"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      INFORME ATENCION DE HALLAZGOS IMPEDITIVOS Y SOLICITUD DE AUTORIZACION DE INICIO DE OPERACIONES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pdf()">
      <ion-icon name="print-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngFor="let item of information; let i = index;"
            class="accordeon-list"
            lines="none"
            detail="false"
            class="ion-no-padding">
    <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <ion-icon slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
      <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
    
    <div *ngIf="item.children && item.open">
      <ion-list *ngFor="let child of item.children; let j = index" lines="none" class="child-list">
        <ion-item tappable (click)="toggleItem(i, j)" *ngIf="child.children" [ngClass]="{'child-active': child.open, 'child': !child.open}">
          <ion-icon slot="start" name="add" *ngIf="!child.open"></ion-icon>
          <ion-icon slot="start" name="close" *ngIf="child.open"></ion-icon>
          <ion-label>{{ child.name }}</ion-label>
        </ion-item>
        
        <app-product [product]="child" *ngIf="!child.children"></app-product>
        
        <ion-list *ngIf="child.children && child.open" class="product-list" lines="none">
          <app-product [product]="product" *ngFor="let product of child.children"></app-product>
        </ion-list>
        
      </ion-list>
    </div>
    
    <p *ngIf="item.children.length == 0 && item.open" text-center>Sorry, nothing in here!</p>
    
  </ion-list>
  <ion-grid fixed>
    <ion-card>
      <ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label>Fecha de Elaboración</ion-label>
            <ion-datetime
            display-format="DD.MM.YYYY"
            name="fecha1"
            [(ngModel)]="datos.fecha1"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Fecha aplicación de la RSPA</ion-label>
            <ion-datetime
            display-format="DD.MM.YYYY"
            name="fecha2"
            [(ngModel)]="datos.fecha2"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Plataforma</ion-label>
            <ion-input
            type="text"
            name="plataforma"
            [(ngModel)]="datos.plataforma"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Equipo</ion-label>
            <ion-input
            type="text"
            name="equipo"
            [(ngModel)]="datos.equipo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Pozo / Localización</ion-label>
            <ion-input
            type="text"
            name="pozoLoc"
            [(ngModel)]="datos.pozoLoc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>¿Se autorizó el inicio de operaciones?</ion-label>
            <ion-button (click)="auth()" expand="block" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Resumen de hallazgos derivados de la Revisión de Seguridad de Pre-Arranque</ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Observaciones</ion-label>
          <ion-textarea name="observaciones" [(ngModel)]="datos.observaciones"></ion-textarea>
        </ion-item>
        <ion-button (click)="upload()" type="submit" expand="block" color="success">
          Subir datos
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
