<ion-header>
  <ion-toolbar color="#339966" class="tool">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="print()">
        <ion-icon slot="start" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Gráfica DTI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="chart-container">
          <canvas id="myChart" width="300" height="300"></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
