h2 {
    color: black;
}

.desc {
    margin-top: 5px;
    margin-left: 22px;
    margin-bottom: 0px;
    font-size: smaller;
}

.col1 {
    background-color: rgba(164, 255, 142, 0.533);
}

.col2 {
    background-color: rgba(130, 244, 248, 0.533);
}

.col3 {
    background-color: rgba(255, 128, 128, 0.533);
}

.col4 {
    background-color: rgba(203, 236, 13, 0.533);
}
