<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="config()">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="4" sizeLg="4">
        <ion-card (click)="goAnexos()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/terreno.png" height="200px" width="200px">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="success">
              <ion-title class="ion-text-center">Anexos</ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4" sizeLg="4">
        <ion-card (click)="goDti()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/oil-well.png" height="200px" width="200px">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="tertiary">
              <ion-title class="ion-text-center">
                DTI
              </ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4" sizeLg="4">
        <ion-card (click)="goInvent()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/inventario.png" height="200px" width="200px">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="danger">
              <ion-title class="ion-text-center">
                Inventario
              </ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-button (click)="goMap()" expand="block" shape="round" color="warning">
      Mapa
    </ion-button>
  </ion-grid>
</ion-content>
