<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goAnexos()">
          <img src="../../../assets/imagenes/img-terreno.jpg">
          <ion-card-content class="ion-text-center">
            <ion-card-title>Anexos</ion-card-title>
          </ion-card-content> 
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goDti()">
          <img src="../../../assets/imagenes/img-pozo.jpg">
          <ion-card-content class="ion-text-center">
            <ion-card-title>Trabajo para Desmantelar, Transportar e Instalar equipos de Perforación</ion-card-title>
          </ion-card-content> 
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goInvent()">
          <img src="../../../assets/imagenes/img-inventario.jpg">
          <ion-card-content class="ion-text-center">
            <ion-card-title>Inventario</ion-card-title>
          </ion-card-content> 
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
