<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-card (click)="goAnexos()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/revision de anexos.png">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="success">
              <ion-title class="ion-text-center">Anexos</ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card (click)="goDti()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/Dti.png">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="tertiary">
              <ion-title class="ion-text-center">
                DTI
              </ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card (click)="goInvent()">
          <ion-card-content class="ion-text-center">
            <img src="../../../assets/icon/control de inventarios.png">
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar color="danger">
              <ion-title class="ion-text-center">
                Inventario
              </ion-title>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
