ion-card-title {
    font-size: medium;
    color: blanchedalmond;
}
ion-card-content {
    // color: black;
    margin-top: 10px;
    font-size: 15px;
}

.head {
    color: blanchedalmond;
    background-color: #00458B;
}
