.data-row {
    border-bottom: 2px solid #000;
}
.divisor {
    background-color: rgb(171, 243, 38);
    font-size: 23px;
}
.header {
    font-size: 10px;
}
.minidiv {
    background-color: rgb(123, 255, 156);
    text-align: justify;
}

.backBtn{
    position: absolute;
    left: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
}

.nextBtn{
    position: absolute;
    float: right;
    right: 20vw;
    top: 40vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: none;
}

.slide-full {
    height: 100% !important;
}
