.data-row {
    border-bottom: 2px solid #000;
}
.divisor {
    background-color: rgb(171, 243, 38);
    font-size: 23px;
}
.header {
    font-size: 10px;
}
.minidiv {
    background-color: rgb(4, 138, 10);
    color: #ffffff;
}
