<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Anexos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo1()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 1</ion-card-subtitle>
            <ion-card-title>Lista de verificación de aspectos administrativos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En el anexo 1 deberás de llenar un formulario para verificar aspectos importantes del
            área donde se ejecutará la construcción.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo2()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 2</ion-card-subtitle>
            <ion-card-title>Lista de verificación de aspectos operativos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En el anexo 2 deberás de llenar un formulario para verificar aspectos operativos.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo3()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 3</ion-card-subtitle>
            <ion-card-title>Solicitud de Aplicación de Protocolo de Revisión de Seguridad de Prearranque</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            En el anexo 3 deberás de llenar un formulario .
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo4()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 4</ion-card-subtitle>
            <ion-card-title>Integración de Grupo Multidisciplinario para la aplicación de protocolo de Revisión de Seguridad de Prearranque</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            .
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo5()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 5</ion-card-subtitle>
            <ion-card-title>Integración de Grupo Multidisciplinario para la aplicación de protocolo de Revisión de Seguridad de Prearranque</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            .
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="6">
        <ion-card (click)="anexo6()">
          <ion-card-header>
            <ion-card-subtitle>ANEXO 6</ion-card-subtitle>
            <ion-card-title>Integración de Grupo Multidisciplinario para la aplicación de protocolo de Revisión de Seguridad de Prearranque</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            .
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
